@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Croissant+One&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,800;1,100&family=Rajdhani:wght@300;400&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Rubik+Iso&family=Skranji&family=Tilt+Prism&family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Croissant+One&family=EB+Garamond&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,800;1,100&family=Rajdhani:wght@300;400&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Rubik+Iso&family=Skranji&family=Tilt+Prism&family=Tulpen+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;

}

body {
  margin: 0;
  padding: 0;

}

.container__bg {
  background: #fafafa;
}

/* color  */
a {
  color: black;
}

.row {
  display: flex;
}

.lightblack {
  color: #707070;
}

.blackish {
  color: rgb(255, 255, 255);
}

.column {
  display: block;
  flex-direction: column;
}

.redish {
  color: #f85a40;
}

.white {
  color: white;
}

.btn {
  height: 40px;
  padding: 0.85em 2em;
  border-radius: 5px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  cursor: pointer;
}

/* navbar */
nav {
  height: 6rem;
  width: 100vw;
  background-color: #b5bbd38a;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #f6fcfd;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #221fc5ce;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}

.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

.join-button {
  color: #131418;
  background-color: #3507db;
  border: 1.5px solid #0a0909;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8)
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

.two-button {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.w-btn {
  color: #1a2c79;
}

.w-btn:hover {
  background: transparent;
  color: white;
  border: 0.55px solid white;
  transition: 0.55s;
}

.t-btn {
  background: transparent;
  border: 0.55px solid white;
  color: white;
}

.t-btn:hover {
  color: black;
  background: white;
  border: none;
  transition: 0.55s;
}

.new-nav {
  position: fixed;
  width: 100vw;
  z-index: 10 !important;
  background: #fff;
}

/* half*/
#one-half {
  padding: 7% 3% 7% 3%;
  font-family: "Raleway", sans-serif;
}

#one-half span>img {
  width: 100%;
}

.half__text>h1 {
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 600;
}

.half__text p {
  line-height: 25px;
  font-size: 17px;
  color: #707070;
}

.half__boxes {
  display: flex;
  gap: 40px;
}

.box>h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 0px 0px 15px 0px;
}

.box>p {
  font-size: 16px;
  letter-spacing: 1px;
  color: #707070;
}

.box span>i {
  color: #4062f8;
  font-size: 35px;
  padding: 25px 0px 10px 0px;
}

/* heading  */
.heading {
  text-align: center;
  font-family: "Raleway", sans-serif;

  font-size: 1.75rem;
}

.black {
  color: black;
}

/* two */
.info span>img {
  width: 100%;
}

.container {
  padding: 10%;
}

.info {
  text-align: start;
  line-height: 30px;
  letter-spacing: 1px;

  box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);

  font-family: "Raleway", sans-serif;

  border: 0.25px solid #fff;
}

.info__text h1 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

.info__text p {
  padding: 10px;
  color: #707070;
}

.info__text h5 {
  color: #4062f8;
  padding: 10px;
}

.info:hover {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.info span>img {
  width: 100%;
}

.info__text {
  padding: 10px;
}

.info__text>p {
  line-height: 20px;
}

.info {
  margin-bottom: 30px;
}

/*four*/
#four {
  padding: 15px;
}

#four article h1 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

#four article p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #707070;
  font-family: "Raleway", sans-serif;
  text-align: justify;
}

.article__icon {
  display: flex;
  gap: 70px;
  margin: 40px 0px;
}

.customer__info span>i {
  color: #1a2c79;

  font-size: 25px;
}

.customer__info span {
  font-weight: bold;
  font-size: 25px;
}

.some__info {
  display: flex;

  gap: 30px;
}

.some__info img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}

.some__info p {
  color: #707070;
  font-size: 17px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.four__text>h1 {
  font-size: 70px;
  font-weight: 300;
  color: #1a2c79;
  height: 30px;
}

.four__text>p {
  font-size: 15.55px;
}

.four__text>h4 {
  margin: 20px 0px;
  color: #1a2c79;
}

.container-Gallery {
  padding: 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 600px;
  transition: .25s;
}

.container-Gallery .box {
  background: var(--img);
  background-position: center;
  background-size: cover;
  transition: .25s;
  display: flex;
  filter: grayscale(0) brightness(1.25);
}

.container-Gallery .box {
  filter: grayscale(1);
}

.container-Gallery .box:hover {
  filter: grayscale(0) brightness(1.25);
}

.container-Gallery:has(.one:hover) {
  grid-template-columns: 2fr .5fr .5fr .5fr .5fr;
}

.container-Gallery:has(.two:hover) {
  grid-template-columns: .5fr 2fr .5fr .5fr .5fr;
}

.container-Gallery:has(.three:hover) {
  grid-template-columns: .5fr .5fr 2fr .5fr .5fr;
}

.container-Gallery:has(.four:hover) {
  grid-template-columns: .5fr .5fr .5fr 2fr .5fr;
}

.container-Gallery:has(.five:hover) {
  grid-template-columns: .5fr .5fr .5fr .5fr 2fr;
}


.container-Gallery .box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#7988a3, transparent, transparent, transparent, #beb4b4);
}

.container-Gallery .box:nth-child(even) {
  transform: translateY(30px);
}

.container-Gallery .box:nth-child(odd) {
  transform: translateY(-30px);
}

.container-Gallery .box::after {
  content: attr(data-text);
  position: absolute;
  bottom: -80px;
  background: #fff;
  color: #5f6354;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
  white-space: nowrap;
  transition: .5s;
  text-transform: uppercase;
  letter-spacing: .5em;
  opacity: 0;
  visibility: hidden;
}

.container-Gallery .box:hover::after {
  opacity: 1;
  visibility: visible;
}

/* five */

#five {
  padding: 0px 20px 0px 20px;
}

.GTI__container {
  display: flex;
  justify-content: space-between;
}

.git__image {
  display: flex;
  justify-content: center;
}

.gt__box {
  padding: 20px 0px;
}

.gt__box span>i {
  font-size: 22px;
  padding: 10px 0px;
  color: #4062f8;
}

.gt__box h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
}

.gt__box p {
  color: #707070;
}

#six {
  background: url("https://thumbs.dreamstime.com/z/front-view-plaid-painted-volkswagen-golf-gti-plain-volkswagon-car-show-orlando-florida-45850926.jpg?w=1200");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
  padding: 80px 3%;
}

/* six */
#six h1 {
  font-size: 33px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
}


/* seven */

#seven .info h5 {
  color: #1a2c79;
}

#seven pre {
  color: #1a2c79;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
}

#seven {
  padding-top: 50px;
}

/* footer */
.footer {
  background-color: #050505;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #402abd;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #471cad;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #f03800d0;
}

.footer-call-to-action-button {
  background-color: #f1010194;
  border-radius: 21px;
  color: #1d1d1a;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #ff0a0a;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-copyright {
  background-color: #25252394;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #d80909;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


.dark-mode {
  background: #222222;
  color: white;
}

/* small divices */
@media screen and (min-width: 995px) {

  .black {
    color: black;
  }

  .black2 {
    color: black;
  }

  /* two */
  .heading {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }

  .heading>h1 {
    line-height: 45px;
  }

  .heading>p {
    line-height: 32px;
  }

  .container {
    flex-wrap: wrap;
    display: flex;

    justify-content: space-evenly;

    padding: 5%;
  }

  .info {
    text-align: start;
    line-height: 30px;
    letter-spacing: 1px;

    width: 28%;
    box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);

    font-family: "Raleway", sans-serif;
  }

  /* half*/
  #one-half {
    display: flex;
    justify-content: center;
  }

  .half-content {
    width: 40%;
  }

  .half__boxes {
    width: 100%;
  }

  #one-half span>img {
    width: 90%;
    margin-left: auto;
  }

  .half__text>h1 {
    font-size: 37px;
    font-weight: 600;
  }


  /*four*/
  #four {
    display: flex;
    gap: 90px;
    padding: 10%;
  }

  /* five */
  #five {
    display: flex;
    padding: 10%;
    align-items: center;
  }

  .git__image {
    min-width: 200px;
    height: 400px;
  }
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}