 @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Croissant+One&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,800;1,100&family=Rajdhani:wght@300;400&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Rubik+Iso&family=Skranji&family=Tilt+Prism&family=Tulpen+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Croissant+One&family=EB+Garamond&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,800;1,100&family=Rajdhani:wght@300;400&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Rubik+Iso&family=Skranji&family=Tilt+Prism&family=Tulpen+One&display=swap');

 html {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   min-height: 100vh;
   font-family: Skranji;
   letter-spacing: 2px;
   display: flex;
   justify-content: center;
   background: aqua;
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
 }

 body:hover {
   animation-name: background;
   animation-duration: 4s;
 }

 h1 {
   text-align: center;
 }

 @keyframes background {
   0% {
     background-color: rgb(255, 217, 0);
   }

   25% {
     background-color: #1d1b1c;
   }

   50% {
     background-color: #44e014;
   }

   75% {
     background-color: #ff58e3;
   }

   100% {
     background-color: #a797ff;
   }
 }

 .container {
   margin-top: 15px;
   max-width: 500px;
   overflow: hidden;
   border-radius: 16px;
   color: rgb(206, 211, 206)
 }

 /* form */
 form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 0.4em;
   background-color: #1717179a;
   border-radius: 15px;
   transition: .4s ease-in-out
 }

 .form-group {
   height: 55px;

 }

 label {
   position: relative;
   bottom: 3px;
 }

 input {
   width: 100%;
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
   outline: none;
   transition: all 0.4s;
   box-sizing: border-box;
   box-shadow: inset 4px 4px 4px rgba(46, 49, 41, 0.767),
     4px 4px 4px rgba(87, 134, 196, 0.808);
 }

 input:valid {
   border: 1px solid rgb(0, 0, 0);
 }

 input:invalid {
   border: 1px solid red;
 }

 .button {
   width: 100%;
   position: relative;
   overflow: hidden;
   height: 3rem;
   padding: 0 2rem;
   font-family: EB Garamond;
   font-size: 20px;
   letter-spacing: 2px;
   margin-top: 5px;
   border-radius: 1.5rem;
   background: #2e10d8;
   background-size: 400%;
   color: #020202;
   border: none;
 }

 .button:hover::before {
   transform: scaleX(1);
   filter: brightness(200%);
 }

 .button-content {
   position: relative;
   z-index: 1;
 }

 .button::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   transform: scaleX(0);
   transform-origin: 0 50%;
   width: 100%;
   height: inherit;
   border-radius: inherit;
   background: linear-gradient(82.3deg,
       rgb(233, 102, 93) 10.8%,
       rgb(64, 235, 12) 94.3%);
   transition: all 0.475s;
 }


 .messagecontainer {
   display: flex;
   align-items: center;
   padding-top: 1r;
 }

 .line {
   height: 1px;
   flex: 1 1 0%;
   background-color: rgba(55, 65, 81, 1);
 }

 .social-icons {
   display: flex;
   justify-content: center;
 }

 .social-icons .icon {
   border-radius: 0.125rem;
   padding: 0.75rem;
   border: none;
   background-color: transparent;
   margin-left: 8px;
 }

 .social-icons .icon svg {
   height: 1.25rem;
   width: 1.25rem;
   fill: #000000;
 }

 /* MEDIA QUERY : LARGE SMARTPHONES */
 @media screen and (max-width: 600px) {
   .container {
     padding-bottom: 10vh !important;
     max-width: 300px;
   }
 }